{% extends "base.html" %}
{% block content %}
<style>
    .container {
        width: 90%;
        margin: 0 auto;
    }

    /* Add this CSS to position the link to the top right */
    .login-logout {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px; /* Add padding for spacing */
    }

    .pass {
        background-color: #48823a;
        padding: 20px;
        border-radius: 28px;
    }

    .login-form {
        text-align: center;
    }

    form {
        background-color: #48823a;
        padding: 20px;
        text-align: center;
    }

    h1 {
        color: #ffcb05;
        text-align: center;
        font-size: 28px;
    }

    input[type="text"],
    input[type="password"] {
        padding: 15px;
        width: 90%;
        margin: 15px 0;
        border: none;
        background-color: #e4f1d3;
        color: #2c442b;
        font-size: 20px;
        border-radius: 5px;
    }

    button {
        padding: 15px;
        width: 90%;
        margin: 15px 0;
        border: none;
        background-color: #ffcb05;
        color: #2c442b;
        font-size: 20px;
        border-radius: 5px;
    }


</style>

    <h1>Reset Your Password</h1>
<hr>
<div class="pass">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password2.label }}<br>
            {{ form.password2(size=32) }}<br>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <button type="submit">Submit</button>
    </form>
    </div>
{% endblock %}