{% extends "base.html" %}
{% block content %}

<style>
    .container {
        margin: 0 auto;
        padding: 0 10px;
    }
    .us {
            background-color: #48823a; /* Set background color to light green */
            padding: 20px;
            text-align: center;
            border-radius: 28px; /* Add border-radius to round corners */
            margin-bottom: 20px; /* Add margin to separate posts */

        }

    /* Apply the width change to the container for screens smaller than 765px (phones) */
    @media (max-width: 765px) {
        .container {
            width: 100%; /* Adjust the width as needed */
            padding: 0px;
            margin: 0 auto;
        }

    }

    .login-box {
        background-color: #48823a;
        padding: 20px;
        border-radius: 28px;
    }

    .login-form {
        text-align: center;
    }

     td.avatar {
        border-right: 2px solid #2c442b; /* Add a right border to the avatar td element */
    }

    .post-container {
        background-color: #48823a;
        padding: 15px;
        margin: 10px 0;
        border-radius: 28px;
    }
    form-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; /* Adjust as needed to center vertically */
        }

        /* Optional: Additional styling for form elements */
        form {
            text-align: center; /* Center-align form elements */
        }

    h1 {
        font-size: 24px;
        text-align: center;
    }

    h1.left-aligned {
        text-align: left;
    }

    a {
        color: #ffcb05;
        text-decoration: none;
        font-size: 19px;
    }

    a:hover {
        color: #ffa500;
    }
</style>

<div class="container">
    <div class="us">
    <table class="us">
        <tr valign="center">
            <td><img src="{{ user.avatar(128) }}"></td>
            <td>
                <h1 style="text-align: center;">{{ user.username }}</h1>
                {% if user.about_me %}<p style="text-align: center;">{{ user.about_me }}</p>{% endif %}
                {% if user != current_user %}
                {% if user.last_seen %}
                <p style="text-align: center;">Last seen: {{ moment(user.last_seen).format('LLL') }}</p>
                {% endif %}
                {% endif %}
                {% if user == current_user %}
                <p style="text-align: center;">
                    <!--<a href="{{ url_for('edit_profile') }}">Edit Bio</a>-->
                    <div class="login-logout">
                        {% if current_user.is_anonymous %}
                            <a href="{{ url_for('login') }}">Login</a>
                        {% else %}
                            <a href="{{ url_for('logout') }}">Logout</a>
                        {% endif %}
                    </div>
                </p>
                {% endif %}
            </td>
        </tr>
    </table>
        </div>
    <hr>
<div class="table-container">
    <table>
        <tr>
            {% if user == current_user and revoke_trigger == 0 %}
            <th>
                Tier
                <br>
                <span style="font-size: smaller; font-style: italic;">Click a tier below to edit</span>
            </th>
            {% else %}
            <th> Tier</th>
            {% endif %}
            <th>Golfer</th>
        </tr>
        {% for key, value in user_record_dict.items() %}
            <tr>
                <td>
                    {% if user == current_user %}
                    <a href="{{ url_for('tier', tier=loop.index, username=current_user) }}" style="color: blue; text-decoration: underline;">Tier {{ loop.index }}</a>
                    {% else %}
                    <a style="color: black">Tier {{ loop.index }}</a>
                    {% endif %}
                </td>
                <td>{{ value }}</td>
            </tr>
        {% endfor %}
    </table>
    <hr>
</div>

</div>
{% endblock %}
